<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
	<Properties>
		<Property name="logPath">logs</Property>
		<Property name="rollingFileName">gameserver</Property>
	</Properties>
	<Appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout
				pattern="%highlight{[%-5level][%d{HH:mm:ss.SSS}][%t][%L] %logger{36} - %msg%n}{FATAL=Bright Red,ERROR=red,WARN=Cyan,INFO=black,DEBUG=Blue,TRACE=Magenta}" />
		</Console>
		<RollingFile name="rollingFile"
			fileName="${logPath}/${rollingFileName}.log"
			filePattern="${logPath}/${rollingFileName}_%d{yyyy-MM-dd}.log">
			<PatternLayout
				pattern="[%-5level]%d{yyy-MM-dd HH:mm:ss.SSS}[%t][%L] %logger{36}- %msg%n" />
			<Policies>
				<!-- Causes a rollover if the log file is older than the current JVM's 
					start time -->
				<OnStartupTriggeringPolicy />
				<!-- Causes a rollover once the date/time pattern no longer applies to 
					the active file -->
				<TimeBasedTriggeringPolicy interval="1"
					modulate="true" />
			</Policies>
		</RollingFile>
	</Appenders>
	<Loggers>
		<Root level="trace" additivity="false">
			<AppenderRef ref="Console" />
			<AppenderRef ref="rollingFile" />
		</Root>
		<Logger name="com.zaxxer.hikari" level="INFO"
			additivity="false">
			<AppenderRef ref="Console" />
			<AppenderRef ref="rollingFile" />
		</Logger>
		<Logger name="io.netty" level="INFO" additivity="false">
			<AppenderRef ref="Console" />
			<AppenderRef ref="rollingFile" />
		</Logger>
	</Loggers>
</Configuration>